body {
    background-image: url('./../photo/00-lede-moganshan-vacation-from-shanghai-china.jpg');
    background-size: cover; /* Изображение будет масштабироваться, чтобы покрыть весь экран */
    background-position: center center; /* Изображение будет расположено по центру */
    background-attachment: fixed; /* Фон будет фиксирован на месте при прокрутке */
    background-repeat: no-repeat; /* Изображение не будет повторяться */
    min-height: 100vh; /* Устанавливаем минимальную высоту для body, чтобы покрыть весь экран */
    margin: 0; /* Убираем отступы по умолчанию */
}

/* Также можно установить свойство z-index для контейнера, чтобы он не перекрывал фон */
.form-container {
    position: relative;
    z-index: 10; /* Это гарантирует, что форма будет находиться поверх фона */
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8); /* Немного полупрозрачный фон для формы */
}