/* Основной стиль для навигации */
.navbar {
    position: relative;             /* Теперь navbar будет двигаться вместе с прокруткой */
    top: 0;                         /* Навбар будет находиться в верхней части страницы */
    left: 0;                        /* Привязка к левому краю */
    width: 100%;                    /* Ширина навбара на 100% */
    display: flex;
    justify-content: space-between; /* Элементы распределяются по краям */
    align-items: center;            /* Выравнивание по вертикали */
    background-color: rgba(0, 0, 0, 0.2); /* Полупрозрачный темный фон */
    backdrop-filter: blur(10px);    /* Применение размытия фона */
    -webkit-backdrop-filter: blur(10px); /* Для Safari */
    padding: 10px 20px;
    z-index: 1040;                  /* Чтобы навбар был поверх других элементов */
}

/* Контейнер для поисковой формы */
.search-container {
    display: flex;           /* Flexbox для выравнивания */
    justify-content: center; /* Центрируем форму по горизонтали */
    flex-grow: 1;            /* Заставляем контейнер занимать доступное пространство */
}

/* Убедимся, что форма поиска занимает подходящее пространство */
#search-line {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    max-width: 600px; /* Установим максимальную ширину для поисковой строки */
    width: 100%; /* Форма будет адаптироваться к ширине контейнера */
}

/* Стиль для поля ввода */
#search-line input {
    flex-grow: 1;  /* Поле ввода будет расширяться, чтобы занять все доступное пространство */
}

/* Убедимся, что кнопка поиска не выходит за пределы */
#search-line button {
    margin-left: 10px;
}
